@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Roboto+Slab:400,700");
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', sans-serif;
  color: #555A55; }

h2 {
  font-size: 4rem;
  margin: 3rem 0; }

header {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #12c2e9, #c471ed, #f64f59); }
  header .logo {
    width: 100%;
    height: 90%;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url("../images/logo-web-crea.svg");
    background-position: left top;
    background-size: 300px 100px; }
  header h1 {
    position: relative;
    top: 40%;
    text-align: center;
    color: #fff;
    font-size: 5rem;
    margin: auto 9rem; }
  header p.call-to-scroll {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 48px;
    color: #FFF; }

.grad2 {
  background-image: linear-gradient(to bottom left, #8E2DE2, #4A00E0);
  background-size: cover; }

.grad3 {
  background-image: linear-gradient(to bottom left, #0cebeb, #20e3b2, #29ffc6);
  background-size: cover; }

.padding-normal {
  padding-left: 48px;
  padding-right: 48px; }

.main {
  padding: 4rem 0;
  background-color: #000222;
  width: 100%; }
  .main .title {
    color: #FFFFFF; }
  .main .content {
    font-family: "Noto Sans", serif;
    line-height: 1.5;
    color: #fff;
    margin: 3rem 0 6rem 0; }

.references {
  padding: 4rem 0; }
  .references h2.title {
    color: #FFF;
    margin: 3rem 0 1.5rem 0; }
  .references h3.description {
    color: #FFF;
    margin-bottom: 3rem; }
  .references .preview {
    overflow: hidden;
    background-image: url("../images/browser.svg");
    height: 340px; }
    .references .preview:hover {
      cursor: pointer; }
    .references .preview img {
      position: relative;
      width: 100%;
      top: 9px;
      filter: grayscale(70%); }
      .references .preview img:hover {
        filter: none; }
    .references .preview .svg-preview-url {
      font-size: .8rem;
      display: inline-block;
      width: 50%;
      position: relative;
      left: 117px;
      top: 9px;
      font-family: "Noto Sans", sans-serif;
      color: #666;
      white-space: nowrap;
      overflow: hidden; }
      .references .preview .svg-preview-url:hover {
        color: #6666FF; }
  .references .definition {
    font-size: .8rem;
    margin-top: 1rem;
    color: rgba(25, 0, 0, 0.75);
    font-family: "Noto Sans", sans-serif; }

.languages {
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  top: 24px;
  right: 24px; }
  .languages ul li {
    list-style: none;
    display: inline-block;
    color: #fff; }
    .languages ul li a {
      color: #fff; }
  .languages ul li + li:before {
    color: #fff;
    content: "| "; }

form {
  margin-top: 3rem; }
  form fieldset {
    margin-top: 6rem; }
    form fieldset input[type="text"], form fieldset input[type="email"], form fieldset textarea {
      border: none;
      border-bottom: 2px solid #29ffc6;
      width: 100%; }
      form fieldset input[type="text"][required]:focus, form fieldset input[type="email"][required]:focus, form fieldset textarea[required]:focus {
        outline: none;
        border-color: #29ffc6; }
        form fieldset input[type="text"][required]:focus + label[placeholder]:before, form fieldset input[type="email"][required]:focus + label[placeholder]:before, form fieldset textarea[required]:focus + label[placeholder]:before {
          color: #29ffc6;
          transition-duration: 0.2s;
          -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
          transform: translate(0, -1em) scale(0.9, 0.9); }
      form fieldset input[type="text"][required]:valid + label[placeholder]:before, form fieldset input[type="email"][required]:valid + label[placeholder]:before, form fieldset textarea[required]:valid + label[placeholder]:before {
        transition-duration: 0.2s;
        -webkit-transform: translate(0, -1.5em) scale(0.9, 0.9);
        transform: translate(0, -1em) scale(0.9, 0.9); }
      form fieldset input[type="text"][required]:invalid + label[placeholder][alt]:before, form fieldset input[type="email"][required]:invalid + label[placeholder][alt]:before, form fieldset textarea[required]:invalid + label[placeholder][alt]:before {
        content: attr(alt); }
      form fieldset input[type="text"][required] + label[placeholder], form fieldset input[type="email"][required] + label[placeholder], form fieldset textarea[required] + label[placeholder] {
        display: block;
        pointer-events: none;
        font-family: "Noto Sans", sans-serif;
        font-size: 1.25rem;
        margin-top: calc(-3rem);
        margin-bottom: calc((3rem - 1rem) + 20px); }
        form fieldset input[type="text"][required] + label[placeholder]:before, form fieldset input[type="email"][required] + label[placeholder]:before, form fieldset textarea[required] + label[placeholder]:before {
          content: attr(placeholder);
          display: inline-block;
          color: #BBB;
          white-space: nowrap;
          transition: 0.3s ease-in-out;
          background-image: linear-gradient(to bottom, #fff, #fff);
          background-size: 100% 5px;
          background-repeat: no-repeat;
          background-position: center; }
    form fieldset input:not([value=""]):invalid {
      border-color: red; }
    form fieldset input:not([value=""]):invalid + label[placeholder]:before {
      transform: translate(0, -0.8em) scale(0.9, 0.9);
      color: red; }
  form textarea {
    resize: none; }

footer {
  height: 3rem; }

.btn-large {
  height: 54px;
  line-height: 54px;
  font-size: 15px;
  padding: 0 28px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  background-color: #29ffc6;
  color: rgba(0, 0, 0, 0.75);
  border: none;
  border-radius: 3px; }

.waves-effect {
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out; }

html[lang='es'] header h1 {
  margin: auto 8rem; }
